@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto/roboto-regular-webfont.woff2") format("woff2"),
       url("./Roboto/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Roboto/roboto-medium-webfont.woff2") format("woff2"),
       url("./Roboto/roboto-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto_Slab/RobotoSlab-Regular.woff2") format("woff2"),
  url("./Roboto_Slab/RobotoSlab-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Roboto_Slab/RobotoSlab-Bold.woff2") format("woff2"),
  url("./Roboto_Slab/RobotoSlab-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Source_Sans/sourcesanspro-regular-webfont.woff2") format("woff2"),
  url("./Source_Sans/sourcesanspro-regular-webfont.woff") format("woff");
}