.saved-list {
  padding: 62px 25px;
  max-width: 1282px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #F5F6F7;
}

@media screen and (max-width: 768px) {
  .saved-list {
    padding: 32px 40px;
  }
}

@media screen and (max-width: 640px) {
  .saved-list {
    padding: 24px 16px;
  }
}
