.about {
  max-width: 1118px;
  padding: 80px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.about__text {

}

.about__heading {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: var(--main-color);
  margin: 51px 0 0;
}

.about__description {
  font-family:  'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  margin: 24px 0 0;
}

.about__image {
  border-radius: 50%;
}