.navigation__link {
  font-family:  'Roboto', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  position: relative;
  margin-right: 34px;
}

.navigation__link_theme_contrast {
  color: var(--contrast-color);
}

/* В макете отступы отличаются, решу вопрос так*/
.navigation__link:last-of-type {
  margin-right: 32px;
}

.navigation__link.active:after {
  content: '';
  width: 100%;
  display: block;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -29px;
  left: 0;
}

.navigation__link_theme_contrast.active:after {
  background-color: var(--contrast-color);
}

.navigation__button {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 100px;
  /*padding: 12px 19px 12px 19px;*/
  padding: 12px 17px 14px;
  font-family:  'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  cursor: pointer;
}

.navigation__button_theme_contrast {
  border: 1px solid var(--contrast-color);
  color: var(--contrast-color);
}

.navigation__button-icon-logout {
  background-image: url('../../images/logout-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9000px;
  width: 18px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}