.header {
  /* Использую бордер-боттом потому что так быстрее работает*/
  border-bottom: 1px solid #D1D2D6;
  padding-top: 3px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
}

.header_theme_contrast {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__container {
  margin: 0 auto;
  /* Ширина в макете 1068px + включу отступы слева и справа по 25 пикселей*/
  max-width: 1118px;
  height: calc(80px - 3px - 1px);
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.header__logo_theme_contrast {
  color: var(--contrast-color);
}