.search-result {
  max-width: 1282px;
  padding: 80px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #F5F6F7;
}

.search-result__heading {
  font-family: 'Roboto Slab', 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: var(--main-color);
  margin: 0;
}

.search-result__button-container {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

.search-result__cards {
  margin-top: 64px;
}

.search-result__button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  padding: 19px 84px 21px;
  background: #FFFFFF;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: opacity linear .2s;
}

.search-result__button:hover {
  opacity: 0.9;
}

.search-result__button:focus {
  opacity: 0.8;
}

.search-result__button_state_disabled {
  background: #E6E8EB;
  color: #B6BCBF;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .search-result {
    padding: 40px 40px;
  }

  .search-result__cards {
    margin-top: 32px;
  }

  .search-result__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 640px) {
  .search-result {
    padding: 32px 16px;
  }

  .search-result__cards {
    margin-top: 24px;
  }

  .search-result__button-container {
    margin-top: 15px;
  }
}
